@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.feedback-container {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure it doesn't cover critical elements */
    pointer-events: auto;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.slider {
    position: absolute;
    top: 15vh;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    perspective: 300px;
    perspective-origin: 50% 50%;
}

.card {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 50%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    transform: translate3d(-50%, -50%, 0);
}

.card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1; /* Set full visibility */
    filter: grayscale(90%);
    transition: filter 0.3s ease-in-out;

}

.copy {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
    text-align: center;
    z-index: 10; /* Ensure text stays above images */
    background: rgba(0, 0, 0, 0.1);


}

/* Card title styling */
.copy h1 {
    font-family: 'Bodoni Moda', serif;
    margin: 0;
    font-size: clamp(1rem, 2vw, 1rem);
    font-weight: 700;
    text-align: left;
    color: #ffffff; /* White text */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Text shadow for better readability */
    padding: 0 20px;

}

/* Card description styling */
.copy p {
    font-family: 'Bodoni Moda', serif;
    margin-top: 10px;
    font-size: clamp(0.7rem, 1.5vw, 1rem); /* Responsive font size */
    font-weight: 400;
    color: #f1f1f1; /* Slightly lighter white */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Subtle shadow */
    line-height: 1.5; /* Improved readability */
    padding: 0 20px;
}

h1 span {
    position: relative;
    display: inline-block;
}


