html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
    z-index: 1; /* Ensure the canvas is rendered but below other elements */
}

.logo-container {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Ensure the logo stays above the canvas */
}


.logo {
    width: 600px;
    height: auto;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}


/* Centering wrapper */
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button styling */
.button {
    position: absolute;
    bottom: 10%; /* Adjust placement */
    left: 50%;
    transform: translateX(-50%);
    z-index: 15; /* Ensure it stays above the canvas and other elements */

    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background: linear-gradient(145deg, #d4af37, #b8860b);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background: linear-gradient(145deg, #ffd700, #daa520);
    box-shadow:
            0px 15px 20px rgba(218, 165, 32, 0.4),
            0px 15px 20px rgba(255, 215, 0, 0.3);

    transform: translate(-50%, -7px); /* Keep horizontal centering intact */
}