

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.logo-container {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Ensure the logo stays above the canvas */
}


.logo {
    width: 600px;
    height: auto;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}


/* Centering wrapper */
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


