.videoMainContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
    overflow: hidden;
    background: transparent;
}

.videoMainContainer.hidden {
    visibility: hidden;
}

.videoMainContainer.visible {
    visibility: visible;
}

.videoPortraitBox {
    margin-top: 10px;
    width: 60%;
    max-width: 100vw;
    height: 80%;
    background: rgba(38, 36, 36, 0.4);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
}

.iframeWrapper {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: none;
}

.iframeWrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
}

@media (max-width: 1024px) {
    .videoMainContainer {
        height: 100%;
    }

    .videoPortraitBox {
        width: 80%;
        height: 85%;
        margin-top: 5px;
    }
}

@media (max-width: 768px) {
    .videoMainContainer {
        height: 100%;
    }

    .videoPortraitBox {
        width: 99%;
        height: 90%;
        margin-top: 5px;
    }

    .iframeWrapper iframe {
        border-radius: 15px;
    }
}

@media (max-width: 480px) {
    .videoPortraitBox {
        width: 99%;
        height: 95%;
        margin-top: 5px;
    }

    .iframeWrapper iframe {
        border-radius: 10px;
    }
}